<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.beykerykt.lineageos.powerswitcher">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="lineageos.permission.PERFORMANCE_ACCESS" />
    <uses-permission android:name="lineageos.permission.WRITE_SECURE_SETTINGS" />

    <uses-feature
        android:name="org.lineageos.performance"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Main.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </activity>

        <!-- Main Activity -->
        <activity android:name=".AppPerfProfilesActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QS Tile -->
        <service
            android:name=".PerfProfilesQSTile"
            android:icon="@drawable/ic_profile_balanced"
            android:label="@string/profiles_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- BootReceiver -->
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Background service -->
        <service android:name=".PowerSwitcherService" />
    </application>
</manifest>